version: '3'
services:
  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    ports:
      - "5432:5432"

  asterisk:
    image: alaeddinekh/asterisk-image
    container_name: asterisk_container
    ports:
      - "5060:5060/udp"
      - "8088:8088/tcp"
      - "5038:5038/tcp"
    volumes:
      - /home/vagrant/Asterisk/voicemail.conf:/etc/asterisk/voicemail.conf
      - /home/vagrant/Asterisk/sip.conf:/etc/asterisk/sip.conf
      - asterisk_logs:/var/log/asterisk/cdr-custom
      - asterisk_recordings:/var/spool/asterisk/recordings
    network_mode: host

  sip-add:
    image: alaeddinekh/sip-add
    container_name: sip_add
    restart: always
    depends_on:
      - db
      - asterisk
      - odoo
    restart: unless-stopped
    environment:
      - DB_NAME=odoo
      - DB_USER=odoo
      - DB_PASSWORD=odoo
      - DB_HOST=db
      - DB_PORT=5432
    volumes:
      - /home/vagrant/Asterisk/sip.conf:/app/sip.conf
      - /home/vagrant/Asterisk/voicemail.conf:/app/voicemail.conf
    ports:
      - "5000:5000"

  asterisk-logs:
    image: alaeddinekh/asterisk-logs
    container_name: asterisk_logs
    restart: always
    depends_on:
      - db
      - asterisk
      - odoo
    restart: unless-stopped
    environment:
      - DB_NAME=odoo
      - DB_USER=odoo
      - DB_PASSWORD=odoo
      - DB_HOST=db
      - DB_PORT=5432
     volumes:
      - asterisk_recordings:/app/recordings
      - asterisk_logs:/app
  
  odoo:
    image: odoo:14
    container_name: odoo_container
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - /custom:/mnt/extra-addons
